@media only screen and (min-width: 320px){
    .story{
        position: relative;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 60px ;
        height: 100px;
        box-shadow: 0px 5px 17px -7px rgba(0,0,0,0.75);
        border-radius: 10px;
        margin-right: 10px;
        transition: transform 100ms ease-in;
        cursor: pointer;
    }
    .story:hover{
        transform: scale(1.07);
    }
    
    .story__avatar{
        margin: 10px;
        border: 3px solid #2e81f4;
        height: 20px !important;
        width: 20px !important;
    }

    
    .story > h4 {
        position: absolute;
        font-size: small;
        bottom: 5px;
        left: 5px;
        color: white;
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: black;
    }

}
@media only screen and (min-width: 768px){
    .story{
        width: 120px ;
        height: 200px;
    }
    .story > h4 {
        position: absolute;
        bottom: 20px;
        left: 20px;
        font: optional;
    }
    .story__avatar{
        height: 40px !important;
        width: 40px !important;
    }
}
